<% title "Wszystkie fortunki" %>
<%= form_tag fortunes_path, :method => :get, :remote => false do %>  
  <p>  
    <%= text_field_tag :search, params[:search] %>  
    <%= submit_tag "Search", :name => nil %>  
  </p>  
<% end %>  
<div id="fortunes">
  <%= render @fortunes %>
</div>

<div class="flickr_pagination">
  <%= will_paginate @posts, :container => false %>
</div>

<% if user_signed_in? %>  
<footer class="postmeta">
<span class="btn alignleft">
                	<%= link_to "Kopsnij nową fortunkę", new_fortune_path %>
				</span>
</footer>
<% end %>

<p>&nbsp;</p>

<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <%= link_to tag.name, tags_fortunes_path(:name=>tag.name), :class => css_class %>
<% end %>
